.btn-group>.btn:last-child:not(:first-child), .btn-group>.dropdown-toggle:not(:first-child),.btn-group>.btn:first-child:not(:last-child):not(.dropdown-toggle) {
border-top-right-radius: 0;
border-bottom-right-radius: 0;
border-top-left-radius: 0;
border-bottom-left-radius: 0;
}
.modal {z-index:10000}

body > .container > .az-container { margin-top : 34px; margin-bottom : 100px; }
.az-row > .controls {visibility:hidden !important}
.az-column > .controls {visibility:hidden !important}
.azexo-editor > div > .az-element:not(.az-row):hover:after {background:none !important; }
.azexo-editor > div > div .az-element:not(.az-row)after {border:1px solid #ccc; margin-top:0;  }
.az-empty {display:none !important}
.azexo-editor .az-row:hover .az-ctnr:after  {outline:0}
.az-button-menu {margin-bottom:15px}
.a-container-case {
    top: -70px;
    position: relative;
}
#az-editor-tab-2 > div:nth-child(1) > div > select > option:nth-child(5) { display: none!important }
div.az-element.az-ctnr.az-column.col-sm-12.ui-sortable,div.az-element.az-ctnr.az-column.col-sm-12.ui-sortable > div.az-element.az-layers, .azexo-editor.azexo.az-container { margin-top:0 !important }
#center_column > div.az-container-case > div > div.controls.btn-group,#center_column > div.az-container-case > div > div.az-element.az-row.row.ui-sortable > div.az-element.az-ctnr.az-column.col-sm-12.ui-sortable > div.az-element.az-layers > div.controls.btn-group.btn-group-xs {display:none;}